out
*sif
notebooks/*html
notebooks/*png
*.Rproj
.Rproj.user
.cache
.snakemake
data
out_without_grouping
*messages
notebooks/*_files
notebooks/*md
notebooks/*html
notebooks/lightning_logs
notebooks/wandb
notebooks/mbe
.ipython


wandb
*.yml
*.yaml
*.csv
*.ckpt
*.pyc
notebooks/stored_data_tensor.pt
scripts/MBE_tunning_TOMAS/wandb_login.py
